body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #87CEEB; /* Sky Blue */
}

#present {
  cursor: pointer;
  padding: 20px;
  background-color: #8B4513; /* Saddle Brown */
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

#present.unwrapped {
  transform: rotateY(180deg);
}
